body {
    margin: 0;
    padding: 0;
}

.svg_select_shape {
    stroke-width: 1;
    stroke-dasharray: 10 10;
    stroke: #000;
    stroke-opacity: 0.1;
    pointer-events: none;
    fill: none;
}

.svg_select_handle,
.svg_reimagine_handle {
    stroke-width: 3;
    stroke: #000;
    fill: #000;
}
.svg_select_handle_rot {
    fill: #fff;
    stroke: #000;
    stroke-width: 1;
    cursor: move;
}
